{% extends "base.html" %}

{% block title %}Achedom - About{% endblock %}

{% block content %}
<div class="container-fluid">

    <h1>Sobre</h1>

    <div class="mb-2 mt-3 border-bottom border-dark">
        <h2 class="h2">Objetivos</h2>
    </div>
    <div class="container-fluid border-dark inner_div mt-2">
        <p>
            O projeto tem como principais objetivos:
        </p>
        <ol>
            <li>
                Automatizar a comunicação entre sistemas para aumentar a eficiência do processo de comunicar os chamados aos
                operadores, reduzindo a necessidade de intervenção manual dos operadores, o que torna a comunicação mais
                assertiva, e agilizando o fluxo de trabalho, otimizando o atendimento aos chamados e melhorando a
                produtividade da equipe de suporte;
            </li>
            <li>
                Melhorar a experiência do usuário através de uma interface intuitiva, amigável, simples, funcional e multiplataforma;
            </li>
            <li>
                Fomentar o desenvolvimento colaborativo através do código aberto do projeto;
            </li>
        </ol>
    </div>
    
    <div class="mb-2 mt-3 border-bottom border-dark">
        <h2>Recursos Principais</h2>
    </div>
    <div class="container-fluid border-dark inner_div mt-2">
        <p>
            O projeto tem como recursos principais:
        </p>
        <ol>
            <li>
                A integração com o WhatsApp e com o DeskManager;
            </li>
            <li>
                A automatização do fluxo de trabalho;
            </li>
            <li>
                O armazenamento e o acesso aos dados;
            </li>
            <li>
                Uma interface limpa, amigável e intuitiva;
            </li>
            <li>
                Suporte multiplataforma (Web App).
            </li>
        </ol>
    </div>
    
    <div class="mb-2 mt-3 border-bottom border-dark">
        <h2>Tecnologias Utilizadas</h2>
    </div>
    <div class="container-fluid border-dark inner_div mt-2">
        <img src="https://img.shields.io/badge/Flask-000?style=for-the-badge&logo=Flask" alt="Flask"> <br>
        <img src="https://img.shields.io/badge/Selenium-000?style=for-the-badge&logo=Selenium" alt="Selenium"> <br>
        <img src="https://img.shields.io/badge/Jinja-000?style=for-the-badge&logo=Jinja" alt="Jinja"> <br>
        <img src="https://img.shields.io/badge/SQLite-000?style=for-the-badge&logo=SQLite" alt="SQLite"> <br>
        <img src="https://img.shields.io/badge/Bootstrap-000?style=for-the-badge&logo=Bootstrap" alt="Bootstrap"> <br>
        <img src="https://img.shields.io/badge/HTML5-000?style=for-the-badge&logo=HTML5" alt="HTML5"> <br>
        <img src="https://img.shields.io/badge/CSS3-000?style=for-the-badge&logo=CSS3" alt="CSS3">
    </div>

    <div class="mb-2 mt-3 border-bottom border-dark">
        <h2>Equipe de Desenvolvimento</h2>
    </div>
    <div class="container-fluid border-dark inner_div mt-2">
        <ul>
            <li>
                Caiython
            </li>
            <li>
                Caiython
            </li>
            <li>
                Caiython
            </li>
        </ul>
    </div>
    
</div>
{% endblock %}